<?xml version="1.0"?>
<config>
	<modules>
		<MyCompany_MyModule>
			<version>1.0.0</version>
		</MyCompany_MyModule>
	</modules>
	<global>
		<helpers>
			<my_module_prefix>
				<class>MyCompany_MyModule_Helper</class>
			</my_module_prefix>
		</helpers>
		<models>
			<my_module_prefix>
				<class>MyCompany_MyModule_Model</class>
			</my_module_prefix>
		</models>
	</global>
</config>
